* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #3C5A99;
    color: white;
    text-align: center;
    padding-top: 300px;
    font-size: 40px;
}
button {
    width: 300px;
    height: 120px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    color: #3C5A99;
    font-size:40px;
}
img {
    width: 80px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: solid 1px white;
    border-radius: 8px;
}